.header{
    background-color: rgb(2, 43, 131);
    color: rgb(193, 193, 255);
    font-weight: bold;
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    padding: 0 2.5%;


    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.header-title{
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header-users-count{
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 3%;
}
.header-messages-count{
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header-last-message-date{
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 4%;
    margin-left: auto;
}