.message-list{
    border-top: 2px solid rgb(0, 0, 82);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    background-color: rgb(57, 58, 116);;
    overflow-y: auto;
}