.message-input{
    height: 28%;
    background-color: rgb(28, 52, 116);
}
form{
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
label{
    flex-basis: 70px;
    flex-grow: 1;
    height: 100%;
    width: 90%;
}
.message-input-text{
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.message-input-button{
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 0px;
    margin: 0px 20px;
    width: 100px;
}