.line{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line-wrp{
    width: 100%;
}
.date-line{
    position: relative;
    bottom:29px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgb(174, 189, 255);
    font-size: 20px;
    padding: 4px 8px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(212, 212, 212);
    margin: 1em 0;
    padding: 0;
}